$color-gray-navbar: #26292C;
$color-gray-text: #3F4346;
$color-gray-subtext: #6B6B6B;
$color-gray-light: #EBEBEB;
$color-gray-modal: #F7F7F7;

$color-green-text: #6ED17D;
$color: #3871DC;

$color-blue-light: #CEDAE8;
$color-blue-dark: #3871DC;