@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "colors";

@import "atoms/icons";
@import "atoms/buttons";
@import "atoms/inputs";
@import "atoms/navbar";

@import "molecules/table";

@import "organisms/login";
@import "organisms/messages";

#react-container {
  height: 100vh;
  font-family: "Circular Air";
}

button {
  background: none;
  border: 0;
}